body {
    width: 600px;
    margin: 0 auto;
}
a {color: black;}


#flags {
    border: 1px dashed rgb(187, 187, 187);
    border-radius: 4px;
    width: 515px;
    background: white;
    padding: 2px 0 0 2px;
    margin: 18px 0;
}



}

    

}