body {
    width: 600px;
    margin: 0 auto;
}
a {color: black;}

.paper {
    position: relative;
        
    width: 521px;
        
    padding: 0px;
        margin: 0 auto;
        background-color: #fff;
        /*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  */
        /*-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  */
        
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        
    margin: 24px 0;
}

.paper:before, .paper:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 8px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.paper:after
{
    left: auto;
    right: 8px;
    -webkit-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}
