* {box-sizing: border-box;}
body {
    /*background: #ECECEC;*/
    background: url(linen.png);
}
header {
    background: transparent;
    width: 440px;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    color: rgb(109, 109, 109);
    text-shadow: 0 1px 0 white;
    -webkit-font-smoothing: antialiased;
}

#options {
    width: 401px;
}


#icon {
    /*background: url(icon128.png);*/
    /*background-size: 64px, 64px;*/
    /*height: 64px;*/
    vertical-align: middle;
    display: inline-block;
    margin-right: 11px;
    width: 55px;
}
#wrapper {
    background: rgb(250, 250, 250);
    display: block;
    position: static;
    border: 1px solid #CACACA;
    padding: 40px;
    width: 600px;
    max-width:800px;
    box-shadow: 0px 1px 0px white, inset 0px 1px 0px white;
    margin: 40px auto;
}
#title {
    font-size: 42px;
    text-align: center;
    display: inline-block;
    margin: 0 0 -10px 0;
    vertical-align: middle;
    color: rgb(124, 124, 124);
    font-family: Chino Display;
    text-shadow: 0px 1px 0px white;
}


h1 {
    font-size: 20px;
    border-bottom: 1px solid #CACACA;
    display: block;
    height: 1.6em;
    margin: 0 0 16px 0;
    vertical-align: bottom;
    box-shadow: 0px 1px 0px white;
    -webkit-font-smoothing: antialiased;
}
.inline-block{display: inline-block; vertical-align: middle;}
.width {width: 800px;}
.center { margin-left: auto; position: static; margin-right: auto;}
.roundCorners { -webkit-border-radius: 5px;}
.slider { width: 178px; display: inline-block; vertical-align: middle; margin: 0px 10px 0px 13px;}
.label { width: 60; vertical-align: middle; display: inline-block;}
.key {width: 50px; vertical-align: middle;margin-top: -3px;}
